*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;   
}

header{
    position: fixed;
    width: 100%;
}

nav{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

html, body, main{
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

a:hover{
    transform: scale(1.1);
}

body, nav{
    background-image: url(../img/island.jpg);
    background-size: cover;
}

/* my projects */

.my-projects-gallery{
    height: 100%;
}

.my-proects-img{
    height: 280px;
    width: 370px;
    transition: 0.5s;
    margin-left: 8px;

}
.my-proects-img:hover{
    transform: scale(1.2);
}

h2{
    padding-top: 220px;
    text-align: center;
    font-size: 32px;
    color: white;
}

.myprojects{
    font-weight: bold;
}









